**/node_modules

# Ignore lockfiles we don't use
yarn.lock

.DS_Store
.cache
.env
**/.env

.data
**/.data
.vercel
**/.vercel
.output
**/.output
.wrangler
**/.wrangler
.netlify
**/.netlify
dist
**/dist
/build/
/api/
/server/build
/public/build

.tanstack
**/.tanstack

.git
.github
.claude
