node_modules

# Ignore lockfiles we don't use
package-lock.json
yarn.lock
# bun.lock
# pnpm-lock.yaml

.DS_Store
.cache
.env



.data
.vercel
.output
.wrangler
.pnpm-store
.expo
Pods
ios/build
android/build
apps/mobile
apps/*/.output
apps/*/dist
apps/*/node_modules
packages/*/dist
worker-configuration.d.ts.tmp
.netlify

.tanstack
